@{
    ViewData["Title"] = "Perfil";
}

<header class="topo">
    <div class="cabecalho">
        <div class="posicaoLogo">
            <a asp-area="link para o feed" asp-controller="Feed" asp-action="Index"><img src="~/img/Logo.svg"
                    alt="Logo da pagina"></a>
        </div>
        <div class="pesquisa">
            <input type="text" id="txtPesquisa" class="placeicon" placeholder="&#xf002; Pesquisar">
        </div>
        <div class="links">
            <a asp-area="link para o feed" asp-controller="Feed" asp-action="Index"><img src="~/img/Home.svg"
                    alt="Feed"></a>
            <a asp-area="" asp-controller="" asp-action=""><img src="~/img/Direct.svg" alt="Direct"></a>
            <a asp-area="" asp-controller="" asp-action=""><img src="~/img/Bussula.svg" alt="Bussula"></a>
            <a asp-area="" asp-controller="" asp-action=""><img src="~/img/Like.svg" alt="Like"></a>
            <a asp-area="link para o perfil" asp-controller="Perfil" asp-action="Index"><img src="~/img/Perfil.png"
                    alt="Link para o perfil"></a>
        </div>
    </div>
</header>

<main class="main_P">
    <!-- Início do perfil -->

    <div class="conteudo_P">
        <section class="introducao_P">
            <!-- Início da introdução com informações do usuário -->

            <div class="foto_P">
                <!-- Parte onde tem a foto do usuário -->
                <img src="~/img/thank-you 3.svg" alt="foto do perfil">
            </div>

            <div class="corpo_P">
                <div class="nome_P">
                    <p class="username_P"> yes_baby</p>
                    <p> <a class="links_P" href="link edição de perfil"> Editar perfil </a></p>
                </div>

                <div class="info_P">
                    <p>2 publicações</p>
                    <p>128 seguindo</p>
                    <p>214 seguidores</p>
                </div>

                <div class="opcoes_P">
                    <p class="nomeCompleto">Marcos Jeeves</p>
                    <p> <a class="links_P" href="link login"> Sair </a></p>
                </div>
            </div>

        </section> <!-- Fim das informações do usuário-->


        <!--Início do feed das publicações-->
        <div class="logoPub_P">
            <img src="~/img/image 1.svg" alt="Logo de Publicações">
            <p>Publicações</p>
        </div>

        <section class="postagens_P">
            <img class="fotoPubli_P" src="~/img/Rectangle 4.svg" alt="Foto do usuário">

            <div class="mae_P">
                <div class="infoUser_P">
                    <img class="imagemp_P" src="~/img/thank-you 4.png" alt="foto do perfil do usuário">

                    <div class="localizacao_P">
                        <p class="negrito_P">Marco Jeeves</p>
                        <p class="lugar_P">Rio de Janeiro, Brazil</p>
                    </div>

                </div>

                <div class="reacoes_P">
                    <div class="icones_P">
                        <img src="~/img/Like.svg" alt="curtir a foto do usuário">
                        <img src="~/img/Vector.svg" alt="comentar foto do usuário">
                    </div>
                    <p>1954 curtidas</p>
                </div>

                <div class="comentarios_P">
                    <div>
                        <div class="outrosComent_P">
                            <p class="usuario_P negrito_P">fausto_silva</p>
                            <p>Esse cara é fera bixo!!!</p>
                        </div>
                        <img src="~/img/Like.svg" alt="coração para curtir a foto do usuário">
                    </div>

                    <div>
                        <div class="outrosComent_P">
                            <p class="usuario_P negrito_P">yes_baby</p>
                            <p>thank you</p>
                        </div>
                        <img src="~/img/Like.svg" alt="coração para curtir a foto do usuário">
                    </div>

                    <div>
                        <div class="outrosComent_P">
                            <p class="usuario_P negrito_P">adriano_stark</p>
                            <p>Quando eu adormecer, vou sonhar com você.<br>É sempre você.</p>
                        </div>
                        <img src="~/img/Like.svg" alt="coração para curtir a foto do usuário">
                    </div>

                    <div>
                        <div class="outrosComent_P">
                            <p class="usuario_P negrito_P">fausto_silva</p>
                            <p>Yes baby!!!</p>
                        </div>
                        <img src="~/img/Like.svg" alt="coração para curtir a foto do usuário">
                    </div>

                </div>
                <p class="vertodos_P">Ver todos os 585 comentários</p>
            </div>
        </section>
    </div>
</main> <!-- Fim do Perfil -->