<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev</title>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css'>
    <link rel="stylesheet" href="~/css/style.css" />
    
</head>
<body>
    <header class="topo">
        <div class="cabecalho">
            <div class="posicaoLogo">
                <a href="~/Views/Home/index.cshtml"><img src="~/img/Logo.svg" alt="Logo da pagina"></a>
            </div>
            <div class="pesquisa">  
                <input type="text" id="txtPesquisa" class="placeicon" placeholder="&#xf002; Pesquisar">
            </div>
            <div class="links">
                <a href="~/Views/Home/index.cshtml"><img src="~/img/Home.svg" alt="Feed"></a>
                <a href="#"><img src="~/img/Direct.svg" alt="Direct"></a>
                <a href="#"><img src="~/img/Bussula.svg" alt="Bussula"></a>
                <a asp-area="" asp-controller="EdicaoPerfil" asp-action="Index"><img src="~/img/Like.svg" alt="Like"></a>
                <a href="~/Views/Perfil/index.cshtml"><img src="~/img/Perfil.png" alt="Link para o perfil"></a>
            </div>
        </div>
    </header>


      
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
