<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev</title>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css'>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/cadastro.css"/>
    <link rel="stylesheet" href="~/css/edicao.css"/>
    <link rel="stylesheet" href="~/css/feed.css"/>
    <link rel="stylesheet" href="~/css/login.css"/>
    <link rel="stylesheet" href="~/css/perfil.css"/>
    <script type="text/javascript" src="~/js/site.js"></script>
</head>
<body>
      
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false) 
</body>
</html>

