@{
    ViewData["Title"] = "Login";
}

<body>
    
    <div class="lo-estrutura">

        <img src="img/Instadev.svg" alt="Logo Instadev" />

    <div>
        <form method="POST" action='@Url.Action("Logar")'>
            <input type="email" name="Email" placeholder="E-mail" class="lo-inputs" required />
            <input type="password" name="Senha" placeholder="Senha" class="lo-inputs" required />
            <button  type="submit" class="lo-botao">Login</button>
        </form>

        <div class="lo-separador">
            <hr>
            </hr>
            <p>OU</p>
            <hr>
            </hr>
            
        </div>
    
        <div class="lo-esq">
        <a href="#">Esqueceu a senha?</a>
        </div>

    </div>

    <div class="lo-erro">@TempData.Peek("Mensagem")</div>

</div>
<div class="lo-estrutura2">
    <P>Não tem uma conta?</P>&nbsp;<a href="https://localhost:5001/Cadastrar">Cadastre-se</a>
</div>

    <div class="lo-aplicativo">
        <div class="lo-p">
            <p>Obtenha o aplicativo.</p>
        </div>
        <div>
           <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo"><img id="loja" src="img/app_store 1.svg " alt="Baixe o nosso aplicativo na Apple Store"></a>
            <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3DDAFDEBB1-085D-48F5-8B87-A235833D9FAB%26utm_content%3Dlo%26utm_medium%3Dbadge"><img id="loja1" src="img/google_play 1.svg " alt="Baixe o nosso aplicativo na Google Play"></a>
        </div>
    </div>

</body>
