<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaDev</title>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css'>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <header class="topo">
        <div class="cabecalho">
            <div class="posicaoLogo">
                <a href="#"><img src="img/Logo.svg" alt="Logo da pagina"></a>
            </div>
            <div class="pesquisa">  
                <input type="text" id="txtPesquisa" class="placeicon" placeholder="&#xf002; Pesquisar">
            </div>
            <div class="links">
                <a href="#"><img src="img/Home.svg" alt="Feed"></a>
                <a href="#"><img src="img/Direct.svg" alt="Direct"></a>
                <a href="#"><img src="img/Bussula.svg" alt="Bussula"></a>
                <a href="#"><img src="img/Like.svg" alt="Like"></a>
                <a href="#"><img src="img/Perfil.png" alt="Link para o perfil"></a>
            </div>
        </div>
    </header>
    <div class="head">
        <div class="linhaVertical">
            <hr class="vertical">
            <div class="container">
                <h1>Editar Perfil</h1>
                <img src="img/Perfil.png" alt="foto de perfil"/>
                <div class="miniContainer">
                    <h2>Nome_do_Usuario</h2>
                    <a href="#">Alterar foto do Perfil</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>