@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{

    --background: #F8F8F8;
    --Letra1: #909090;
    --Botão: #2686CC;
    --Obtenha: #353535;
    --Branco: #FFFFFF;
    --Letra2: #AFAFAF;

    --font: 'Segoe UI';
}



.c-body{
    background: var(--background);
}



.c-estrutura{
    background: #FFFFFF ;
    width: 342px;
    height: 550px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: 1px solid #DCDCDC;
    margin: 5% auto 0 auto;
    margin-bottom: 200px;
}

.c-estrutura img{
    margin-bottom: 20px;
    margin-top: 40px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
}

.c-estrutura p{
    text-align: center;
    color: var(--Letra1);
    font-family: Segoe UI;
}


.c-inputs{
    font-size:11px;
    margin: 10px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Segoe UI;
    border-radius: 2px;
    border-width: 1px;
    color: var(--Letra2);
    align-items: center;
    width: 267px;
    border: 1px solid #DCDCDC;
    height: 35px;
    background-color: var(--background);
    padding-left: 07px;
    outline: none;
}

#c-input1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}


.c-datas p{
    font-family: Segoe UI;
    font-size:11px;
    margin: 2px;
    margin-left: -41.1px;
    margin-right: 202px;
    color: #727272;
    width: 67%;
}

.c-datas{
    position: unset;
    margin-left: 14px;
    margin-right: auto;
    
    
}
.c-datas select{
    align-items: center;
    font-size:12px;
    background-color: var(--background);
    top:10px;
    border-radius: 2px;
    width: 83px;
    height: 34px;
    font-family: Segoe UI;
    color:var(--Letra1);
    border: 1px solid #DCDCDC;
    margin-left: 10px;
    margin: 1px;
    margin-right: 4px;
    outline: none;


}

#dia{
    margin-left: 3px;
}

.c-botao{
    margin: 20px;
    font-size:12px;
    background-color: var(--Botão);
    position: relative;
    top:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    width: 267px;
    height: 35px;
    font-family: Segoe UI;
    color: var(--Branco);
    border: 1px solid #DCDCDC;
    
}

#c-pf{
    color: var(--Letra1) ;
    font-size: 12px;
    font-family: Segoe UI;
    margin: 25px;
    
}

.c-estrutura2{
    border: 1px solid #DCDCDC;
    background-color: var(--Branco);
    width: 342px;
    height: 75px;
    margin: 2% auto 1% auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.c-estrutura2 p {
    font-size: 12px;
    color: #000000 ;
    font-family: Segoe UI ;
    margin-top: 30px;
}

.c-estrutura2 a {
    font-family: Segoe UI;
    font-size: 12px;
    color: var(--Botão) ;
    text-decoration: none;
    margin-top: 30px;
    
}


.cfoo{
    width: 400px;
    height: 75px;
    display: flex;
    margin: 1% auto 0 auto;
    font-size: 12px;
    align-items: center;
    flex-direction: column;
}

.c-foo p{
    font-size: 12px;
    color: #000000;
    font-family: Segoe UI;
    margin-top: 5%;
    margin-bottom: -5%;
    
}

#c-loja{
    text-align: center;
    display: flex;
    margin: 1px;
    margin-left:10px;
    margin-top: -5px;
    margin-top: 10%;
}

#c-loja1{
    display: flex;
    margin: 1px;
    margin-left:150px;
    margin-top: -40px;
    padding-bottom: 100px;
}