:root{
    --backgroun:#F8F8F8;
    --Letra1: #909090;
    --Botao: #2686CC;
    --Obtenha:#353535;
    --Branco:#FFFFFF;
    --Letra2:#AFAFAF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f8f8f8;
}
.lo-estrutura{
   border:  1px solid #DCDCDC;
   width: 342px;
   min-height: 40vh;
   background: var(--Branco);
   margin: 5% auto 0 auto;
   padding: 30px;
   background: var(--Branco);
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   display: flex;
}

.lo-estrutura img{
    display: block;
    margin: 35px auto 30px auto;
}
.lo-inputs{
    font-size:11px;
    margin: 10px auto;
    border-radius: 2px;
    border-width: 1px;
    color: var(--Letra2);
    align-items: center;
    width: 100%;
    border: 1px solid #DCDCDC;
    height: 35px;
    background-color: var(--background);
    padding-left: 07px;
    outline: none;
}
.lo-botao{
    font-size:12px;
    background-color: var(--Botao);
    margin: 5px auto;
    border-radius: 2px;
    width: 100%;
    height: 35px;
    color: var(--Branco);
    border: 1px solid #DCDCDC;
    cursor: pointer;
}
.lo-separador{
    display: flex;
    height: 50px;
    align-items: center;
    color: var(--Letra1);
}
.lo-separador p{
    margin: 0 20px;
    
}
.lo-separador hr{
    color: var(--Letra2);
    width: 100px;
    
}
a{
    font-size: 12px;
    text-decoration: none;
    color: var(--Botao);
}

.lo-estrutura a{
    align-items: center;
}

.lo-estrutura2{
    border:  1px solid #DCDCDC;
    width: 342px;
    height: 75px;
    background: var(--Branco);
    margin: 1% auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;  
    
}

.lo-esq a{
    margin-left: 85px;
}

.lo-aplicativo {
    width: 400px;
    height: 75px;
    display: flex;
    margin: 1% auto 0 auto;
    font-size: 12px;
    align-items: center;
    flex-direction: column;
}
.lo-p{
    margin: 2% auto 0 auto;
    margin-bottom: 10px;
}

.lo-erro{
    font-size: 11px;
    color: red;
    font-family: Segoe UI ;
    text-align: center;

}

