/*Início do perfil*/
.main_P{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    font-family: 'Segoe UI';
}
.conteudo_P{
    width: 70%;
    height: 100%;
    /* background-color: darkred;  */
}
.introducao_P{
    width: 100%;
    height: 225px;
    border-bottom: 1px solid #DCDCDC;
    display: flex;
    background-color: #FAFAFA; 
}
.foto_P{
    width: 30%;
    height: 100%;
    /* background-color: rgba(237, 168, 229, 0.364); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto_P img{
    width: 154px;
    height: 154px;
}
.corpo_P{
    width: 70%;
    height: 100%;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
}
.nome_P{
    width: 70%;
    height: 74px;
    /* background-color: rgb(162, 140, 240);    */
    display: flex;    
    justify-content: space-between;
    align-items: flex-end;
}
.username_P{
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}
.links_P{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #2686CC;;
}
.info_P{ 
    width: 70%;
    height: 67px;
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.botaoEditar_P{
    width: 40px;
    height: 35px;
    color: #2686CC;
    font-size: 14px;
    margin-left: 160px; 
    border-radius: 3px;
}
.opcoes_P{
    width: 70%;
    height: 84px; 
    /* background-color: magenta;   */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.nomeCompleto{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: bold;
}

/*publicações do perfil*/

.logoPub_P{
    width: 100%;
    height: 87px;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    /* background-color: #FAFAFA;  */
    padding: 21px 0 0 200px;
}
.logoPub_P img{
    width: 25px;
    height: 25px;
    padding-right: 8px;
    padding-bottom: 7px;
}
.postagens_P{
    width: 100%;
    height: 404px;
    display: flex;
    /* background-color: red; */
    margin-bottom: 53px;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.mae_P{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.infoUser_P{
    width: 100%;
    height: 102px;
    display: flex;
    align-items: flex-end;
    /* background-color: darkslateblue; */
}
.imagemp_P{
    width: 65px;
    height: 66px;  
    margin-right: 21px; 
}
.localizacao_P{
    width: 100%;
    height: 66px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    /* background-color: aqua;  */
    flex-direction: column;
}
.negrito_P{
    font-weight: bold;
}
.reacoes_P{
    width: 100%;
    height: 88.63px;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    line-height: 17px;
}
.icones_P img{
    width: 24px;
    height: 21.13px;
    margin-right: 17px;
}
.icones_P{
    margin-bottom: 5px;
}
.comentarios_P{
    width: 100%;
    height: 177.37px;
    /* background-color: brown; */
    font-size: 13px;
    line-height: 17px;
}
.comentarios_P img{
    width: 15px;
    height: 13.12px;
    margin-right: 15px;
}
.comentarios_P div{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 3px;
}
.usuario_P{
    padding-right: 15px;
}
.vertodos_P{
    /* background-color: green; */
    width: 100%;
    height: 37px;
    font-size: 13px;
    line-height: 15px;
    color: #909090;
}