*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
}

/*Cabeçalho*/
.topo{
    /* position: absolute; */
    width: 100%;
    height: 53px;
    border: 1px solid #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posicaoLogo{
    width: 20%;
}

.posicaoLogo img{
    width: 78px;
    height: 27px;
}

.pesquisa{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pesquisa input{
    width: 215px;
    height: 28px;
    color: #AFAFAF;
    text-align: center;
    background-color: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
}

.placeicon{
    font-family: fontawesome;
}

.links{
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links img{
    width: 25px;
    height: 25px;
}
/*Fim do cabeçalho*/

.espaco{
    width: 100%;
    height: 40px;
}

.head{
    display: flex;
    width: 70%;
    margin-left: 15%;
}

.vertical{
    width: 1px;
    height: 53px;
}

.container{
    display: flex;
}

.container h1{
    margin-top: 15px;
    font-size: 15px;
    margin-left: 15px;
}

.miniContainer{
    display: flex;
    justify-content: center
}

.miniContainer img{
    margin-left: 290px;
    width: 50px;
    height: 50px;
}

.miniContainer a{
    color: #2686CC;
}

.z{
    margin-left: 20px;
}

.z h2{
    font-size: 18px;
}

.z a{
    font-size: 14px;
}

fieldset{
    margin-top: 50px;
    width: 70%;
    border: none;
    margin-left: 15%;
}

input{
    border: 1px solid #DCDCDC;
    border-radius: 2px;
}

.campo label{
    font-size: 14px;
}

.campo p{
    font-size: 12px;
}

.agrupamento{
    margin-left: 15%;
    margin-right: 15%;
}

.agrupamento a{
    color: #2686CC;
    font-size: 12px;
    margin-left: 20%;
}

button{
    width: 66px;
    height: 30px;
    background: #2686CC;
    border-radius: 2px;
    border: 1px solid #DCDCDC;
    color: white;
    margin-left: 50%;
}
